@import url("https://fonts.googleapis.com/css?family=Open+Sans");

*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #EB5226;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-list{
    list-style-type: none;
}
.nav-list .list-item{
    display: inline-block;
    padding: 20px 10px;
}

.navbar a{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.logo{
    height: 120px;    
}
.navbar input[type=text] {
    border: none;
    font-family: "Open Sans";
    font-size: 14px;
    color:rgb(80, 80, 80);
    appearance: none;
    padding: 10px;
    border-radius: 3px;
    width: 400px;
  }

.icons{
    height: 60px;
    position: relative;
}
.icons-hover{
    height: 60px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.icons:hover .icons-hover{
    display: inline;
}
.drop-menu{
    position: relative;
}
.drop-menu ul{
    position: absolute;
    max-height: 0px;
    overflow: hidden;
}
.drop-menu:hover ul{
    max-height: 500px;
}



