@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#navegacion{
    position: fixed;
    background-color: #EB5226;
    padding: 1% 6% 1%;
    top: 0px;
    left: 0px;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navegacion input[type=text] {
    border: none;
    font-family: "Open Sans";
    font-size: 20px;
    color:rgb(80, 80, 80)
  }

.busqueda-wrapper{
    padding: 6px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}